<h1>{{title}}</h1>


<div class="buttons">
  <a routerLink="/Random-component" routerLinkActive="active" ariaCurrentWhenActive="page"><div class="button">Random Recipe</div></a>
  <a routerLink="/Category-component" routerLinkActive="active" ariaCurrentWhenActive="page"><div class="button">Search by Category</div></a>
  <a routerLink="/Ingredient-component" routerLinkActive="active" ariaCurrentWhenActive="page"><div class="button">Search by Main Ingredient</div></a>
  <a routerLink="/Name-component" routerLinkActive="active" ariaCurrentWhenActive="page"><div class="button">Search by Name</div></a>
</div>

<router-outlet></router-outlet>